# Contient tous les fichiers de ce dossier à ignorer (le git ne les prendra pas en compte)

# Fichiers crees lors de la compilation LaTeX
*.aux
*.log
*.dvi
*.nav
*.out
*.snm
*.toc

# Fichiers crees lors de la compilation des fichiers C
*.o

bin/
.DS_Store
